# History files
.Rhistory
# IGNORE example code in package build process
*-Ex.R

# IGNORE R data files from past sessions
.Rdata
.Rhistory

# IGNORE output files from scripts
*.pdf
*.jpg
*.jpeg
*.png
*.tiff
NUL

# IGNORE other non-essential files
*.pages
*.docx
examples/**/*.md
examples/**/*.Rmd

# IGNORE local ddg directories
examples/**/ddg*/
examples/**/local*/
examples/checkPointTest/testfile*.txt

# INCLUDE a few tests we named impropertly
!examples/DDGHangBug
!examples/ddgChangesBehavior
!examples/ddgTest

# IGNORE files beginning with '_'
_*

# IGNORE log files
*.log.txt
*.log

# IGNORE local versions of files
*.local

# IGNORE backups
*.bak

# IGNORE Project Files
.project
/DESCRIPTION~

# IGNORE vignette and knitr files
*.sty
*.aux
*.lof
vignettes/*.out
vignettes/*.tex
*synctex.gz
vignettes/*.dvi
*.toc

# INCLUDE jpg file under vignettes and testDocs
!vignettes/*/*.jpg
!vignettes/*/*.png
!testDocs/*/*.jpg
!testDocs/*/*.png

# INCLUDE .txt files under checkpoint test
!examples/checkpointTest/*.txt

# IGNORE specific test files
examples/CalculateSquareRoot/*.csv
examples/checkpointTest/testfile3.txt
examples/RealTime15MinMET/*.csv
examples/SivanSampling/*.csv
examples/seminars/seminar1/*.csv

# INCLUDE files needed for tests
!examples/RealTime15MinMET/archive-15min.csv
!examples/seminars/seminar1/reu_r_data1.csv

# INCLUDE PDF in /inst/doc
!inst/doc/*.pdf

# IGNORE out .out files but INCLUDE those with expected in the name
*.out
!*expected*.out

# IGNORE the Java directory
Java/
/ddg.txt
/ddg/*

# IGNORE local copies of sourceTest.r
examples-no-instrumentation/*/sourceTest.r
tests/*/sourceTest.r

# IGNORE generated ddg folder
*_ddg
