# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rhistory

# Output files from scripts
*.pdf
*.jpg
*.jpeg

# Other non-essential files
*.pages
*.html
*.md
*.Rmd

# exclude ddg directories
examples/*/ddg*/

# Project Files
.project
/DESCRIPTION~
