# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

dist: trusty
sudo: required
language: R
sudo: false
cache: packages

addons:
  apt:
    packages:
      - libicu-dev
      - ant
      - r-cran-ggplot2
      - r-cran-gdata
      - r-cran-rcurl
      - r-cran-v8
 
before-install:
  - .libPaths ("/home/travis/R/Library")

install: 
  - Rscript -e 'install.packages (c("roxygen2", "knitr", "jsonvalidate", "XML", "testthat", "ggplot2"))'
  - Rscript -e 'if(!"provViz" %in% rownames(installed.packages())) { devtools::install_github("End-to-end-provenance/provViz") }'
  - Rscript -e 'print (installed.packages())'

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

script:
  - ant -file build-rdt.xml install
  - ant -file tests.xml test-travis

notifications:
  slack: endtoendprovenance:WxevOs6n66eZRbCn9HcW2mGD
