export(ddg.function, ddg.procedure, ddg.start, ddg.finish, ddg.return.value, ddg.eval)
export(ddg.data, ddg.exception, ddg.url, ddg.file)
export(ddg.data.in, ddg.data.out, ddg.exception.out, ddg.url.out, ddg.file.out, ddg.graphic.out)
export(ddg.init, ddg.run, ddg.save, ddg.console.on, ddg.console.off, ddg.annotate.on, ddg.annotate.off)
export(ddg.debug.lib.on, ddg.debug.lib.off)
export(ddg.breakpoint, ddg.set.breakpoint, ddg.list.breakpoints, ddg.clear.breakpoints)
export(ddg.flush.ddg)
export(ddg.source)

importFrom(gtools, defmacro)
importFrom(XML, saveXML)
importFrom(knitr, purl)
importFrom(stringr, str_trim)
importFrom(devtools, session_info)
