export(ddg.function, ddg.procedure, ddg.start, ddg.finish, ddg.return.value, ddg.eval)
export(ddg.data, ddg.exception, ddg.url, ddg.file)
export(ddg.data.in, ddg.data.out, ddg.exception.out, ddg.url.out, ddg.file.out, ddg.graphic.out)
export(ddg.init, ddg.run, ddg.save, ddg.console.on, ddg.console.off, ddg.annotate.on, ddg.annotate.off)
export(ddg.debug.lib.on, ddg.debug.lib.off, ddg.display)
export(ddg.breakpoint, ddg.set.breakpoint, ddg.list.breakpoints, ddg.clear.breakpoints)
export(ddg.flush.ddg)
export(ddg.source)
export(ddg.forloop, ddg.first.loop, ddg.max.loops, ddg.loop.count, ddg.loop.count.inc, ddg.reset.loop.count)
export(ddg.loop.annotate.on, ddg.loop.annotate.off)
export(ddg.max.snapshot.size, ddg.details.omitted, ddg.should.run.annotated)
export(ddg.set.detail, ddg.get.detail, ddg.clear.detail)
export(ddg.set.inside.loop, ddg.not.inside.loop)

importFrom(gtools, defmacro)
importFrom(XML, saveXML)
importFrom(knitr, purl)
importFrom(stringr, str_trim)
importFrom(devtools, session_info)
importFrom(methods, setMethod)
importFrom(methods, setClass)
importFrom(digest, digest)
importFrom(jsonlite, read_json)
importFrom(jsonlite, write_json)
importFrom(jsonlite, toJSON)

# CRAN check gives errors if these are not included.
# However, if we include these, ddg.run crashes R when run
# in RStudio on Windows.  It does not crash on Mac.  It
# also does not crash on Windows using the standard R environment.
#importFrom("grDevices", "dev.copy", "dev.copy2pdf", "dev.cur",
#           "dev.list", "dev.off", "dev.print", "dev.set", "pdf")
#importFrom("methods", "new")
#importFrom("utils", "capture.output", "getParseData", "head",
#           "object.size", "packageVersion", "savehistory", "tail",
#           "timestamp", "write.csv")
