export(ddg.procedure, ddg.start, ddg.finish, ddg.grabhistory)
export(ddg.data, ddg.exception, ddg.url, ddg.file)
export(ddg.data.in, ddg.data.out, ddg.exception.out, ddg.url.out, ddg.file.out, ddg.graphic.out)
export(ddg.checkpoint, ddg.restore)
export(ddg.init, ddg.run, ddg.save, ddg.grabhistory, ddg.console.on, ddg.console.off)
export(ddg.debug.on, ddg.debug.off)
export(ddg.flush.ddg)

importFrom(gtools, defmacro)
